#bm_header_row,
table.main,
.footer
{
    display: none;
}

#left-navigation {
    width: 265px;
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    margin-top: 90px;
    display: none;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
}
/* left navigation header */
/* ---------------------------------------------------------------------------------- */

#left-navigation header {
    position: fixed;
    width: 265px;
    top: 0;
    border: 1px solid #000;
    border-top: none;
    border-left: none;
}

#left-navigation a.header__logo {
    width: 25%;
    height: 50px;
}

#left-navigation .header__site-switcher {
    /* float: right; */
    float: none;
    width: 75%;
    height: 50px;
    min-height: initial;
    display: inline-block;
}

#left-navigation .header__site-switcher__selection {
    float: left;
    margin-top: 0;
}

#left-navigation .header__site-switcher__selection .site-selection {
    line-height: 1;
}

#left-navigation .header__site-switcher__selection .sod_select {
    padding: 0;
}

#left-navigation .header__global-navigation-bar {
    height: auto;
    width: 100%;
    border-top: 1px solid #54585a;
    float: none;
    padding: 0;
}

#left-navigation header a.headermenu {
    line-height: 35px;
    height: auto;
    display: inline-block;
}

#left-navigation header .loggedin .headermenu {
    width: 88px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
}

#left-navigation header .headermenu.storefront {
    padding-left: 10px;
}

/* ---------------------------------------------------------------------------------- */

/* left navigation nav */

/* ---------------------------------------------------------------------------------- */

#left-navigation nav {
    overflow-y: scroll;
    height: 100%;
    /* chrome url tooltip */
    padding-bottom: 30px;
}

#left-navigation nav .menu-overview-link-icon {
    display: none;
    height: auto;
}

#left-navigation nav .menu-overview-link {
    /* margin-bottom: 15px; */
    height: 50px;
}

#left-navigation nav .menu-overview-link-text {
    line-height: 50px;
    height: auto;
    float: none;
}

#left-navigation nav .menu-overview-link, 
#left-navigation nav .menu-overview-link a {
    font-size: 20px;
    background-color: #f5f5f5;
}

#left-navigation nav .menu-overview-link a {
    line-height: normal;
}

#left-navigation .bm-menu-section,
#left-navigation .bm-menu-head,
#left-navigation .bm-menu-head a,
#left-navigation a.bm-menu-item {
    position: static;
}

#left-navigation .bm-menu-section {
    margin-bottom: 0;
}

#left-navigation .leftmenu_sub_bm.expand .menu_items_bm {
    display: block;
    background-color: #f5f5f5;
    /* padding-left: 20px; */
}

#left-navigation .bm-menu-head {
    font-size: 12px;
    padding-left: 15px;
}

#left-navigation .menu_items_bm {
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}

#left-navigation .menu_items_bm .bm-menu-item {
    padding-left: 20px;
}

#left-navigation .menu_items_bm .bm-menu-item:hover,
#left-navigation .overview_item_bm.selected .bm-menu-item {
    background-color: #0AF;
    color: #fff;
    text-decoration: none;
}

#left-navigation .bm-menu-item {
    font-size: 14px;
    line-height: 1.5;
}

#left-navigation .leftmenu_sub_bm .plus,
#left-navigation .leftmenu_sub_bm.expand .minus
{
    display: inline;
}

#left-navigation .leftmenu_sub_bm.expand .plus,
#left-navigation .leftmenu_sub_bm .minus
{
    display: none;
}

#left-navigation .plus, .minus {
    font-size: 16px;
    font-weight: normal;
}

/* ---------------------------------------------------------------------------------- */

/* loader */

#loader {
    display: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.1);
}

#loader img {
    width: 10%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
} 

#loader div {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}