*, *::before, *::after {
    box-sizing: border-box !important;
}

html, body {
    height: 100%;
}

html body {
    padding-bottom: 0;
}

#bm_content_column {
    padding: 25px;
}

main {
    height: 100%;
    /* width: 85%; */
    margin-left: 265px;
    overflow-y: scroll;
    position: relative;
}

/* #left-navigation {
    display: block;
} */

/* fixes for BM */
.overview_title_description {
    padding-bottom: 20px;
}

/* fix jumping site switcher on page load */
#SelectedSiteID,
.sod_list_wrapper {
    display: none;
}